<nav class="navbar navbar-expand-lg fixed-top">
  <div class="navbar-brand">
    <a href="#">Store</a>
  </div>
  <form class="form-inline">
    <input
      type="text"
      class="form-control"
      placeholder="Search products"
      [formControl]="productSearchText"
    />
    <button class="btn_search-product" (click)="onSubmit($event)">
      <a><fa-icon [icon]="faSearch"></fa-icon></a>
    </button>
  </form>
  <ul class="navbar-nav">
    <li class="nav-item info">
      <span
        >Cantidad de productos : <strong>{{ count }}</strong></span
      >
      <br />
      <span
        >Subtotal : <strong>$ {{ subTotal | number }}</strong></span
      >
    </li>
    <a class="icon"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
  </ul>
</nav>
